.banner {
    height: 823px;
    position: relative;
}

.banner__text {
    margin-bottom: 65px;
    padding-left: 100px;
}

.banner__title {
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    font-family: "Arial Black";
}

.banner::after {
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    width: 675px;
    height: 762px;
    background-image: url(../images/banner/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    bottom: 0;
    left: 631px;

}

.banner__text-group {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: end;
}

.banner__text-paragraph {
    margin-bottom: 150px;

}

.banner__text-violet {
    display: block;
    font-weight: 900;
    color: #CD06FF;
}

.banner__text-violet.number {
    font-size: 100px;
}

.banner__text-violet.text {
    font-size: 75px;
    font-variant: all-small-caps;
}

.button.book-place-bg-violet {
    height: 80px;
    width: 374px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    border-color: #6C0287;
    border-radius: 10px;
    background-color: #6C0287;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button.circle.down {
    z-index: 2;
    display: block;
    position: absolute;
    bottom: 90px;
    height: 97px;
    width: 97px;
    left: calc((100% - 97px) / 2);
    border-radius: 50%;
    background-image: url("../icons/down.png");
    background-repeat: no-repeat;
    background-size: contain;
}