.questions__item {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style-type: none;
}

.questions__item:last-child {
    margin-bottom: 0;
}

.questions__item_bg_violet {
    background-color: #440F51;
    color: #fff;
}

.button-open {
    position: relative;
    top: -10px;
    float: right;
    height: 46px;
    width: 46px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 200ms linear, color 200ms linear;
}

.button-open:after {
    content: "+";
    display: block;
    font-size: 28px;
}

.questions__item_bg_violet .button-open {
    border-color: #fff;
    color: #fff;
}

.questions__item_bg_white .button-open {
    border-color: #6C0287;
    color: #6C0287;
}

.questions__item_bg_violet .button-open:hover {
    background-color: #fff;
    color: #6C0287;
}

.questions__item_bg_white .button-open:hover {
    background-color: #6C0287;
    color: #fff;
}

.questions__item_bg_violet .button-open:hover:active {
    background-color: transparent;
    color: #fff;
}

.questions__item_bg_white .button-open:hover:active {
    background-color: transparent;
    color: #6C0287;
}


.button-open:active:after {
    content: "―";
}
