.reviews .container {
    padding-left: 230px;
    padding-right: 230px;
}

.reviews__item:not(:last-child) {
    margin-bottom: 50px;
}

.reviews__user {
    display: inline-block;
    margin-right: 14px;
}

.reviews__user-image {
    width: 280px;
    height: 280px;
    margin-bottom: 11px;
    border-radius: 50%;
}

.reviews__user-name {
    text-align: center;
}

.reviews__user-text {
    display: inline-block;
    position: relative;
    width: 680px;
    top: -200px;
}